<div class="w3-container">
  <h1>
    Log In:
  </h1>
</div>


<div class="w3-container">
  <%= form_with(scope: :session, url: login_path, method: :post, local: true) do |f| %>
    <p>
      <div>
        <%= f.label :email, class: "w3-xlarge w3-text-dark-gray" %>
        <br></br>
        <%= f.email_field :email, class: "w3-input w3-border" %>
      </div>
      <div>
        <%= f.label :password, class: "w3-xlarge w3-text-dark-gray" %>
        <br></br>
        <%= f.password_field :password, class: "w3-input w3-border" %>
      </div>

      <div>
        <p>
          <%= f.submit "Log In", class: "w3-button w3-white w3-border w3-border-blue" %>
        </p>
      </div>
    </p>
  <% end %>
</div>


<div class="w3-container">
  <%= button_to 'Cancelar', root_path, method: :get, class: "w3-button w3-white w3-border w3-border-red" %>
</div>
