<div class="w3-container">
  <table class="w3-table-all">

    <thead>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th colspan="1">Actions</th>
    </thead>

    <tbody>
      <% @articles.each do |art| %>
        <tr>
          <td><%= art.title %></td>
          <td><%= art.description %></td>
          <td>
            <div class="w3-bar">
              <%= button_to 'Mostrar', article_path(art), method: :get, class: "w3-btn w3-ripple w3-blue w3-bar-item w3-margin-right"%>
              <% if logged_in? && art.user == current_user %>
                <%= button_to 'Editar', edit_article_path(art), method: :get, class: "w3-btn w3-ripple w3-teal w3-bar-item w3-margin-right" %>
                <%= button_to 'Eliminar', article_path(art), method: :delete, data: { confirm: 'Seguro ?' }, class: "w3-btn w3-ripple w3-red w3-bar-item" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
