<div class="w3-container">
  <h1>Detalles del Post:</h1>
</div>
<div class="w3-card-2">
  <header class="w3-container w3-blue">
    <p>
      <strong>Titulo:
      </strong>
      <%= @article.title %>
    </p>
  </header>

  <div class="w3-container">
    <p>
      <strong>Descripcion:
      </strong>
      <%= @article.description %>
    </p>
  </div>
  <div class="w3-container">
    <p>
      <strong>Escrito por:
      </strong>
      <%= link_to "#{@article.user.username}", @article.user %>
    </p>
  </div>
</div>
<br></br>
<div class="w3-row">
  <% if logged_in? && @user == current_user %>
    <div class="w3-col s4 w3-center">
      <%= button_to 'Edit', edit_article_path(@article), method: :get, class: "w3-button w3-white w3-border w3-border-blue"  %>
    </div>
    <div class="w3-col s4 w3-center">
      <%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Seguro ?' }, class: "w3-button w3-white w3-border w3-border-red" %>
    </div>
  <% end %>

  <div class="w3-col s4 w3-center">
    <%= button_to 'Return to listing', articles_path, method: :get, class: "w3-button w3-white w3-border w3-border-blue" %>
  </div>


</div>
